
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>My Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png" />
                    <img class="logo logo-dark" alt="Foundry" src="/img/logo-dark.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a th:href="home-default-5.html">
                                Home
                            </a>
                            <ul class="mega-menu">
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/user" sec:authorize="isAuthenticated()">
                                My Profile
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>

                                        <li>
                                            <a sec:authorize="isAuthenticated()" th:href="@{'/admin/'+${#authentication.name}+'/wallets'}">My Wallets</a>

                                        </li>
                                        <li>
                                            <a sec:authorize="isAuthenticated()">My Transactions</a>
                                        </li>
                                        <li>
                                            <a sec:authorize="isAuthenticated()">Create a Transaction</a>
                                        </li>
                                        <li>
                                            <a href="/admin" sec:authorize="isAuthenticated()">View Profile</a>
                                        </li>
                                        <li>
                                            <a sec:authorize="isAuthenticated()" th:href="@{'/user/'+${#authentication.name}+'/cards'}">My Cards</a>
                                        </li>

                                    </ul>

                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/about-us">
                                About us
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>

                                        <li>
                                            <a href="/contact-us">
                                                Contact us</a>
                                        </li>
                                        <li>
                                            <a href="/about-us">
                                                Get to know Foundry</a>

                                    </ul>


                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/register" sec:authorize="!isAuthenticated()">
                                Sign up
                            </a>

                        </li>
                        <li class="has-dropdown">
                            <a href="/login" sec:authorize="!isAuthenticated()">
                                Login
                            </a>

                        </li>

                    </ul>
                </div>
                <!--end of menu module-->
                <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div>

                <!--end of widget-->
            </div>
        </div>

</div>
<!--end of module group-->
</div>
</nav>
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">My Foundry</h3>
                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <h4 class="uppercase">Your Details</h4>
                        <hr>
                    </div>

                    <a class="btn btn-lg btn-filled"  th:href="@{/admin/{id}/edit (id=${admin.username})}">Edit Your Profile</a>
                    <div class="left">
                        <img th:src="*{'data:image/png;base64,'+admin.picture}" th:alt="${admin.username}" style="width:200px">
                    </div>
                    <form action='#' class="customer-details mb80 mb-xs-40" th:alt="admin">

                        <div class="input-with-label col-sm-6 text-left">

                            <input    th:text="${admin.username}" name="username" >
                        </div>

                        <div class="input-with-label col-sm-6 text-left">
                            <span>Your Full Name</span>
                            <input   th:text="${admin.firstName+ ' '+admin.lastName}" name="fullName" >
                        </div>
                        <div class="input-with-label col-sm-6 text-left">
                            <span>Enter Expiration Date </span>
                            <input   th:text ="${admin.email}" name="eMail" >
                        </div>
                        <div class="input-with-label col-sm-6 text-left">
                            <span>Enter Card Number </span>
                            <input  th:text="${admin.phoneNumber}" name="phoneNumber" >
                        </div>


                </div>
                <!--end of items-->

                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">

                </div>
                <!--end of totals-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <footer class="footer-1 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img alt="Logo" class="logo" src="/img/logo-light.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Recent Posts</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li>
                                <a href="#">Hugging pugs is super trendy</a>
                                <span class="date">February
                                            <span class="number">14, 2015</span>
                                        </span>
                            </li>
                            <li>
                                <a href="#">Spinning vinyl is oh so cool</a>
                                <span class="date">February
                                            <span class="number">9, 2015</span>
                                        </span>
                            </li>
                            <li>
                                <a href="#">Superior theme design by pros</a>
                                <span class="date">January
                                            <span class="number">27, 2015</span>
                                        </span>
                            </li>
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Latest Updates</h6>
                        <hr>
                        <div class="twitter-feed">
                            <div class="tweets-feed" data-feed-name="mrareweb">
                            </div>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Instagram</h6>
                        <hr>
                        <div class="instafeed" data-user-name="mrareweb">
                            <ul></ul>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flickr.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/masonry.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>