<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Transaction</title>
</head>
<body>

<form action='#' th:action="@{/transactions/new}" method="post" enctype="multipart/form-data">
    <label class="text bg-warning">Amount</label>
    <br/>
    <input type="number" name="amount"/>
    <br/><br/>
    <label class="text bg-warning">Wallets</label>
    <br/>
    <label>
        <select name="wallet">
            <option th:each="wallet : ${wallets}"
                    th:value="${wallet.id}"
                    th:text="${wallet.name}">Wallets
            </option>
        </select>
    </label>
    <br/><br/>
    <label class="text bg-warning">Users</label>
    <br/>
    <label>
        <select name="user">
            <option th:each="user : ${users}"
                    th:value="${user.username}"
                    th:text="${user.username}">Users</option>
        </select>
    </label>
    <input type="submit" value="Save" class="text bg-warning" `/>
</form>

<br><br>
<a href="/">Menu</a>
<br><br>

</body>
</html>