<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <title>Foundry Multi-purpose HTML Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>



        <script src="/js/jquery-3.4.1.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <link
                href="/css/jquery-ui.css"
                rel="stylesheet" type="text/css">
        <script type="text/javascript">
            $(document).ready(function() {
                $('#username').autocomplete({
                    source : '/search'
                });
            });
        </script>



    </head>
    <body class="scroll-assist">
    <a id="top"></a>
    <th:block th:insert="header-fragment"></th:block>
        <div class="main-container">
            <section class="page-title page-title-4 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Transfer Funds</h3>
                        </div>
                       
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="text-center">
                                <h4 class="uppercase">Transaction Details</h4>
                                <hr>
                            </div>
                            <i th:if="${error!=null}" th:text="${error}" class="error bg-warning"></i>
                            <form action='#' class="customer-details mb80 mb-xs-40" th:action="@{/transactions/new}" th:object="${transactionDto}" method="POST" enctype="multipart/form-data">
                                <div class="input-with-label col-sm-6 text-left">
                                    <span>Select Wallet</span>
                                    <select th:field="*{senderWalletId}">
                                        <option th:each="wallet:${wallets}"
                                                th:value="${wallet.id}"
                                                th:text="${wallet.name}">Wallets
                                        </option>
                                    </select>
                                </div>
                                <div class="input-with-label col-sm-6 text-left">
                                    <span>Enter Amount</span>
                                    <input id="amount" pattern="[0-9]+" type="text" th:field="*{amount}" />
                                </div>
                                <div class="input-with-label col-sm-12 text-left">
                                    
                                </div>
                                    <div class="search widget-handle left">
                                        <i class="ti-search"></i>
                                        <span class="title"><strong>FIND FOUNDRY USER(ENTER USERNAME, PHONE OR EMAIL)</strong></span>
                                    </div>
                                    <div class="function">

                                            <input pattern="^(?=.{2,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9]+(?<![_.])$" id="username" th:field="*{receiverUsername}" type="text" placeholder="Search User" />

                                        
                                    </div>
                                <input type="submit"
                                       onsubmit="return confirm('Are you sure you want to transfer ' +document.getElementById('amount').value+' to '+ document.getElementById('username').value)" class="pull-right" value="Transfer Funds"/>
                                <a class="btn btn-lg pull-left" href="#">Cancel</a>


                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <img alt="Logo" class="logo" src="img/logo-light.png" />
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Recent Posts</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li>
                                        <a href="#">Hugging pugs is super trendy</a>
                                        <span class="date">February
                                            <span class="number">14, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Spinning vinyl is oh so cool</a>
                                        <span class="date">February
                                            <span class="number">9, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Superior theme design by pros</a>
                                        <span class="date">January
                                            <span class="number">27, 2015</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Latest Updates</h6>
                                <hr>
                                <div class="twitter-feed">
                                    <div class="tweets-feed" data-feed-name="mrareweb">
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="mrareweb">
                                    <ul></ul>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of container-->
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
            </footer>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flickr.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/masonry.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>