<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Foundry Multi-purpose HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'
          rel='stylesheet' type='text/css'>
</head>
<body>
<a id="top"></a>
<th:block th:insert="header-fragment"></th:block>
<div class="main-container">
    <section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">Create Card</h3>
                </div>

            </div>
            <!--end of row-->
        </div>

        <script type="text/javascript">

            function checkForm() {
                if (document.getElementById("cardHolder").value === "") {
                    alert("Error: Cardholder name cannot be blank!");
                    document.getElementById("cardHolder").focus();
                    return false;
                }
                if (document.getElementById("cvv").value.length !== 3) {
                    alert("Error: CVV must be exactly 3 digits");
                    document.getElementById("cvv").focus();
                    return false;
                }
                if (document.getElementById("cvv").value.length !=="") {
                    alert("Error: CVV cannot be blank");
                    document.getElementById("cvv").focus();
                    return false;
                }
                if (document.getElementById("cardNumber").value === "") {
                    alert("Error: Card Number cannot be blank!");
                    document.getElementById("cardNumber").focus();
                    return false;
                }
                if (document.getElementById("cardNumber").value.length !== 16) {
                    alert("Error: Card Number must be exactly 16 digits");
                    document.getElementById("cardNumber").focus();
                    return false;
                }
                if (document.getElementById("expirationDate").value === "") {
                    alert("Error:Expiration date cannot be blank");
                    document.getElementById("expirationDate").focus();
                    return false;
                }

                if (document.getElementById("expirationDate").value.length !== 5) {
                    alert("Expiration date must be exactly 5 characters with the month and year separated by /!");
                    document.getElementById("expirationDate").focus();
                    return false;
                }

                return true;
            }

            function preventActionForInvalidInput(event) {
                if (!checkForm()) {
                    event.preventDefault();
                }
            }
        </script>
        <form action='#' onsubmit="preventActionForInvalidInput(this)" th:action="@{/cards/new}" th:object="${card}"
              method="post" enctype="multipart/form-data">
            <label class="text bg-warning">Name</label>
            <br/>
            <select name="currencyId">

                <option th:each="currency : ${currencies}"
                        th:value="${currency.id}"
                        th:text="${currency.name}">Currencies
                </option>
            </select>
            <br/><br/>
            <input id="cardHolder" pattern="^(?=.{2,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9]+(?<![_.])$" type="text" th:field="*{cardHolder}"/>
            <br/><br/>
            <br/>
            <br/><br/>
            <br/><br/>
            <input id="cvv" pattern="[0-9]" type="number" th:field="*{cvv}"/>
            <br/><br/>
            <input type="text" id="expirationDate" th:field="*{expirationDate}"/>
            <br/><br/>
            <input type="text" pattern="[0-9]" id="cardNumber" th:field="*{cardNumber}"/>

            <label class="text bg-warning">Currency</label>
            <br/>
            <input type="submit" value="Save" class="text bg-warning" `/>
        </form>

</body>
</html>