
<nav class="bg-dark">
    <div class="nav-bar">
        <div class="module left">
            <a th:href="@{'/'}">
                <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png"/>
                <img class="logo logo-dark" alt="Foundry" src="/img/logo-dark.png"/>
            </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
            <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
            <div class="module left">
                <ul class="menu">
                    <li>
                        <a th:href="@{'/'}">Home</a>
                        <ul class="mega-menu">
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="/about-us">About us</a>
                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <a href="/contact-us">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="/about-us">Get to know Foundry</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown" sec:authorize="isAuthenticated()">
                        <a href="/user">My Profile</a>
                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <a th:href="@{'/user/wallets'}">My Wallets</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/user/transactions'}">My Transactions</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/user/cards'}">My Cards</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/transactions/new'}">Transfer Money</a>
                                    </li>
                                    <li>
                                        <a th:href="@{'/transactions/fund'}">Fund Wallet</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a>Admin</a>
                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <a th:href="@{/admin/transactions}">Master Transaction Page</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/users}">Master Users Page</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/users/verification}">Users Verification</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/register">Sign up</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login" >Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!--end of menu module-->


            <!--end of widget-->
        </div>
    </div>


    <!--end of module group-->

</nav>
