<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>My Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    <th:block th:insert="header-fragment"></th:block>
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">Users</h3>
                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">

                    <div class="row">
                        <div class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1" >
                            <form th:action="@{/admin/users/}" method="get">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <div class="form-group">
                                        <input type="radio"
                                               id="ASC"
                                               name="direction"
                                               class="custom-control-input"
                                               value="ASC">
                                        <label class="custom-control-label" for="ASC"
                                               th:text="Ascending"></label>
                                        <input type="radio" id="DESC"
                                               name="direction"
                                               class="custom-control-input"
                                               value="DESC">
                                        <label class="custom-control-label" for="DESC"
                                               th:text="Descending"></label>
                                    </div>
                                </div>
                                <input type="submit" value="Sort">
                            </form>
                            <table class="table cart mb48">
                                <thead>
                                <tr>
                                <th>Status</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user:${users}">
                                    <td>
                                    <form th:action="@{'/admin/users/block/' + ${user.username}}" method="post">
                                        <input type="submit" th:value="${user.blockedStatus}? 'unblock' : '   block   '"/>
                                    </form>
                                    </td>
                                    <td th:text="${user.username}">Username</td>
                                    <td th:text="${user.firstName + ' ' + user.lastName}">Full Name</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="p-4" th:if="${users} != null">
                                <ul class="pagination mb-0 list-unstyled">
                                    <li th:each="i : ${#numbers.sequence(0, users.getTotalPages()-1)}">
                                        <a th:href="@{/admin/users/(size=${pageable.getPageSize()}, page=${i}, direction=${direction})}"
                                           th:text="${i+1}"
                                           th:class="'pr-3 pl-3 pt-2 pb-2' + (${i == pageable.getPageNumber()} ? ' active bg-primary text-light' : '')"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of items-->
                        <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">

                        </div>
                        <!--end of totals-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
    </section>

    <footer class="footer-1 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img alt="Logo" class="logo" src="img/logo-light.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Recent Posts</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li>
                                <a href="#">Hugging pugs is super trendy</a>
                                <span class="date">February
                                            <span class="number">14, 2015</span>
                                        </span>
                            </li>
                            <li>
                                <a href="#">Spinning vinyl is oh so cool</a>
                                <span class="date">February
                                            <span class="number">9, 2015</span>
                                        </span>
                            </li>
                            <li>
                                <a href="#">Superior theme design by pros</a>
                                <span class="date">January
                                            <span class="number">27, 2015</span>
                                        </span>
                            </li>
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Latest Updates</h6>
                        <hr>
                        <div class="twitter-feed">
                            <div class="tweets-feed" data-feed-name="mrareweb">
                            </div>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Instagram</h6>
                        <hr>
                        <div class="instafeed" data-user-name="mrareweb">
                            <ul></ul>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flickr.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/masonry.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        let direction = $("#directionValue").text();-->
<!--        $("'#"+direction+"'").prop("checked", true);-->
<!--    })-->
<!--</script>-->
</body>
</html>