<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>My Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="scroll-assist">
<a id="top"></a>
<th:block th:insert="header-fragment"></th:block>
<div class="main-container">
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png" />
                    <img class="logo logo-dark" alt="Foundry" src="/img/logo-dark.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a th:href="home-default-5.html">
                                Home
                            </a>
                            <ul class="mega-menu">
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/user" sec:authorize="isAuthenticated()">
                                My Profile
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>

                                        <li>
                                            <a sec:authorize="isAuthenticated()" th:href="@{'/admin/'+${#authentication.name}+'/wallets'}">My Wallets</a>

                                        </li>
                                        <li>
                                            <a sec:authorize="isAuthenticated()">My Transactions</a>
                                        </li>
                                        <li>
                                            <a sec:authorize="isAuthenticated()">Create a Transaction</a>
                                        </li>
                                        <li>
                                            <a href="/admin" sec:authorize="isAuthenticated()">View Profile</a>
                                        </li>
                                        <li>
                                            <a sec:authorize="isAuthenticated()" th:href="@{'/user/'+${#authentication.name}+'/cards'}">My Cards</a>
                                        </li>

                                    </ul>

                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/about-us">
                                About us
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>

                                        <li>
                                            <a href="/contact-us">
                                                Contact us</a>
                                        </li>
                                        <li>
                                            <a href="/about-us">
                                                Get to know Foundry</a>

                                    </ul>


                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/register" sec:authorize="!isAuthenticated()">
                                Sign up
                            </a>

                        </li>
                        <li class="has-dropdown">
                            <a href="/login" sec:authorize="!isAuthenticated()">
                                Login
                            </a>

                        </li>

                    </ul>
                </div>
                <!--end of menu module-->
                <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div>

                <!--end of widget-->
            </div>
        </div>

</div>
<!--end of module group-->
</div>
</nav>



<!-- My Account -->
<div class="me-my-account me-padder-top">
    <div class="container">


        <div class="col-lg-8 col-md-10 ml-auto mr-auto" style="position: inherit; transform: translateX(10%);">
            <br><br>
            <br>
            <br>
            <br>
            <form id="to-validate">
                <div class="search">
                    <input type="text" id="input" name="input" onchange="filter()" onkeyup="filter()"
                           onblur="filter()" class="searchTerm"
                           placeholder="Search for users by username, phone or email" required autofocus
                           minlength="3">
                    <!--                        <button id="button" type="button" class="searchButton">-->
                    <!--                            <i class="fa fa-search"></i>-->
                    <!--                        </button>-->
                </div>
            </form>

            <div class="table-responsive">
                <form id="toRes">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="users">


                        </tbody>

                    </table>
                </form>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" id="prev-btn">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" id="next-btn">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>



    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <script>
        //<button onclick="filter">Filter</button
        //<input id=startDate>
        let currentPage = 0;
        let nextBtn = $("#next-btn");
        let prevBtn = $("#prev-btn");
        let totalPages = 0;

        nextBtn.on('click', function () {
            if (currentPage < totalPages - 1) {
                currentPage++;
                filter();
            }
        });

        prevBtn.on('click', function () {
            if (currentPage > 0) {
                currentPage--;
                filter();
            }
        });

        function filter() {
            console.log(currentPage)
            let input = document.getElementById("input").value;
            // $("#to-validate").validate().element("#input")

            $.ajax({
                url: 'http://localhost:8080/api/users/list',
                dataType: 'json',
                data: {
                    input: input,
                    page: currentPage
                },
                type: 'GET',
                success: function (data) {
                    totalPages = data.totalPages;
                    let allUsers = data.content;
                    document.getElementById("users").innerHTML = '';

                    for (let i = 0; i < allUsers.length; i++) {
                        $('#users').append('<tr>\n' +
                            '<td class="text-center" style="transform: translateY(15%)">' + '<strong ' + 'style="font-size: 1.25em;" ' + '> ' + allUsers[i].username + '</strong> ' + '</td>\n' +
                            ' <input class = "input-with-label col-sm-6 text-left" type = submit value="save" name="save">
                        // '<td class="td-actions text-center">\n' + '<a ' + 'style="font-size: 1.25em; transform: translateY(25%)" ' + 'type="button" ' + 'class="btn btn-success btn-just-icon btn-sm" ' + 'href="/user/transfer/' + allUsers[i].username + '">' + 'Transfer' + '</a>\n' +
                        '</tr>\n')
                    }
                }
            })
        }
    </script>


</body>
</html>