<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create wallet</title>
</head>
<body>

<form action='#' th:action="@{/cards/new}" th:object="${card}" method="post" enctype="multipart/form-data">
    <label class="text bg-warning">Name</label>
    <br/>
    <select name="currencyId">

        <option th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:text="${currency.name}">Currencies
        </option>
    </select>
    <br/><br/>
    <input type="text" th:field="*{cardHolder}"/>
    <br/><br/>
    <br/>
    <br/><br/>
    <br/><br/>
    <input type="number" th:field="*{cvv}"/>
    <br/><br/>
    <input type="text" th:field="*{expirationDate}"/>
    <br/><br/>
    <input type="text" th:field="*{cardNumber}"/>

    <label class="text bg-warning">Currency</label>
    <br/>
    <input type="submit" value="Save" class="text bg-warning" `/>
</form>

</body>
</html>