<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create wallet</title>
</head>
<body>

<form action='#' th:action="@{/wallets/new}" th:object="${newWallet}" method="post" enctype="multipart/form-data">
    <label class="text bg-warning">Name</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <br/><br/>
    <label class="text bg-warning">Currency</label>
    <br/>
    <label>
        <select th:field="*{currencyId}">
            <option th:each="currency : ${currencies}"
                    th:value="${currency.id}"
                    th:text="${currency.name}">Currencies
            </option>
        </select>
    </label>
    <br/><br/>
    <input type="submit" value="Save" class="text bg-warning" `/>
</form>

<br><br>
<a href="/">Menu</a>
<br><br>

</body>
</html>