<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="wrapper-login fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="images/beer-tag-logo.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action='#' th:action="@{/authenticate}" method ="post">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <i th:if="${param.error} " class="error bg-warning">
            Wrong username or password.
        </i>
        <h3>
            <a th:href="@{/register}">Register</a>
        </h3>

    </div>
</div>

<br><br>
<a href="/">Menu</a>
<br><br>

</body>
</html>