<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <i th:if="${error!=null}" th:text="${error}" class="error bg-warning"></i>
        </div>
        <form action="#" th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data" >
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" th:field="*{username}" class="form-control"
                                   placeholder="Your Username *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" th:field="*{password}" class="form-control"
                                   placeholder="Your Password *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   placeholder="Your First Name *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   placeholder="Your Last Name *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" th:field="*{email}" class="form-control"
                                   placeholder="Your Email *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" th:field="*{phoneNumber}" class="form-control"
                                   placeholder="Your Phone *" value=""/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit">Submit</button>
            </div>
        </form>
        <h3>
            <a class="bg-warning" th:href="@{/login}">Login</a>
        </h3>
    </div>
</div>

<br><br>
<a href="/">Menu</a>
<br><br>

</body>
</html>